@import '../../../assets/styles/variables';

.button {
  margin: 0.2rem 0 1.2rem 0;
  padding: 0.4rem 0;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
}

.vm-green-button {
  color: $vm-color-white;
  background-color: $vm-color-green;
}

@media screen and (min-width: $vm-desktop-breakpoint) {
  .vm-green-button {
    max-width: 8rem;
  }
}
