@import '../../assets/styles/variables';

.favourites-block {
  margin-bottom: 2rem;

  &__header {
    color: $vm-color-grey;
    margin-bottom: 1rem;
  }
}

.product-grid {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-column-gap: 4%;
}

@media screen and (min-width: $vm-desktop-breakpoint) {
  .product-grid {
    grid-template-columns: 22% 22% 22% 22%;
  }
}
