@import '../../assets/styles/variables';

.favourites-block {
  margin-bottom: 2rem;

  &__header {
    color: $vm-color-grey;
    margin-bottom: 1rem;
  }
}

.product-grid {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-column-gap: 4%;
}

@media screen and (min-width: $vm-desktop-breakpoint) {
  .favourites-block {
    &__header {
      text-align: left;
      color: $vm-color-black;
      background-color: $vm-color-white;
      padding-left: 2%;
      position: relative;
      z-index: 5;

      &::after {
        content: '';
        height: 2px;
        border-radius: 1px;
        width: 100%;
        background-color: $vm-color-black;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        left: 0;
        top: 50%;
      }
    }
  }

  .product-grid {
    grid-template-columns: 22% 22% 22% 22%;
  }
}
