@import '../../assets/styles/variables';

.navigation-menu {
  background-color: $vm-color-white;
  width: 100%;
  text-align: left;
  font-weight: bold;

  & a {
    display: block;
    text-decoration: none;
    color: $vm-color-black;
    padding: 0.5rem 0;
    // border-bottom: 1px solid $vm-color-grey;
  }

  & div {
    border-bottom: 1px solid $vm-color-grey;
  }

  &:nth-child(1) {
    border-top: 1px solid $vm-color-grey;
  }

  &__first-level {
    margin-left: 2.5%;
  }

  &__second-level {
    margin-left: 5%;
  }

  &__third-level {
    margin-left: 7.5%;
  }
}
