@import '../../../assets/styles/variables';

.product {
  &__image-container {
    border: 1px solid $vm-color-grey;
  }

  & > span {
    display: block;
  }
  &__name {
    font-weight: bold;
    margin-top: 0.8rem;
    text-transform: uppercase;
  }
  &__price-container {
    margin: 0.6rem 0;
  }
  &__price--strike-through {
    text-decoration: line-through;
  }
  &__special-price {
    color: $vm-color-red;
  }
}
