@import '../../../assets/styles/variables';

.product {
  &__image {
    border: 1px solid $vm-color-grey;
  }

  & > span {
    display: block;
  }
  &__name {
    font-weight: bold;
    margin: 0.8rem 0;
  }
  &__price-container {
    margin: 0.8rem 0;
  }
  &__special-price {
    color: $vm-color-red;
  }
}
