@import '../../../assets/styles/variables';

.mini-cart {
  &__product-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__delete-icon {
    cursor: pointer;
  }
}
