@import '../../../assets/styles/variables';

.mini-cart {
  &--empty {
    text-align: center;
    font-weight: bold;
    padding-top: 0.5rem;
  }

  &__product-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__delete-icon {
    cursor: pointer;
  }
}
