@import '../../assets/styles/variables';

.top-background {
  width: 100vw;
  height: 1rem;
  background-color: $vm-color-green;
}

.header {
  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
  }

  &__icons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.cart {
  border: 1px solid $vm-color-grey;
  border-radius: 6px;
  padding: 0.25rem 0.5rem 0;

  &__products,
  &__price {
    display: none;
  }
}

.menu {
  border: 1px solid $vm-color-grey;
  border-radius: 6px;
  padding: 0.25rem 0.5rem 0;

  margin-left: 8px;
  display: block;
}

.mobile-navigation,
.mini-cart {
  display: block;
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 5;
  width: 100%;
}

.mini-cart {
  background-color: $vm-color-white;
  width: 100%;
  flex-direction: column;
  text-align: left;
  padding-bottom: 3rem;
}

.mobile-navigation--hidden,
.mini-cart--hidden {
  display: none;
}

.desktop-navigation {
  display: none;
}

@media screen and (min-width: $vm-desktop-breakpoint) {
  .header {
    position: relative;
  }

  .top-background {
    height: 1.2rem;
  }

  .cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.4rem 0.6rem;
    background-color: $vm-color-white;
    cursor: pointer;

    &__products,
    &__price {
      display: inline;
      margin-left: 0.5rem;
    }
  }

  .mini-cart {
    width: 40%;
    position: absolute;
    top: 100px;
    left: 57%;
  }

  .menu {
    display: none;
  }

  .desktop-navigation {
    display: block;

    &::after {
      content: '';
      height: 0.4rem;
      width: 100%;
      display: block;
      background-color: $vm-color-black;
    }
  }
}
