@import '../../assets/styles/variables';

.top-background {
  width: 100%;
  height: 1rem;
  background-color: $vm-color-green;
}

.header {
  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
  }

  &__icons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.cart {
  background-color: $vm-color-grey;
  padding: 4px 8px 0px;
}

.menu {
  background-color: $vm-color-grey;
  padding: 4px 8px 0px;
  margin-left: 8px;
  display: block;
}

.mobile-navigation,
.mini-cart {
  display: block;
  position: absolute;
  left: 0;
  z-index: 5;
  width: 100%;
}

.mini-cart {
  background-color: $vm-color-white;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-bottom: 3rem;
}

.mobile-navigation--hidden,
.mini-cart--hidden {
  display: none;
}

.desktop-navigation {
  display: none;
}

@media screen and (min-width: $vm-desktop-breakpoint) {
  .top-background {
    height: 1.5rem;
  }

  .menu {
    display: none;
  }

  .desktop-navigation {
    display: block;
  }
}
