@import '../../assets/styles/variables';

.footer-background {
  background-color: $vm-color-grey;
}

.footer-content {
  display: flex;
  flex-direction: column;
  & span,
  a {
    display: block;
    color: $vm-color-white;
    text-align: left;
    text-decoration: none;
  }
}

.footer__section {
  &-header {
    font-weight: bold;
    margin: 0.8rem 0;
  }

  &-subheader {
    margin: 0.2rem 0;
    font-size: 12px;
  }
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  position: relative;
  &__input {
    padding: 6px 0px 6px 24px;
    border: 1px solid $vm-color-black;
    outline: none;
    margin-bottom: 0.1rem;
    border-radius: 4px;
  }
}

.email-icon {
  position: absolute;
  top: 6px;
  left: 4px;
}

.invalid-email {
  border: 1px solid $vm-color-red;
}

@media screen and (min-width: $vm-desktop-breakpoint) {
  .footer-content {
    flex-direction: row;
  }
}
