@import '../../assets/styles/variables';

.footer {
  &-background {
    background-color: $vm-color-grey;
    display: flex;
    flex: 1 1 auto;
  }

  &-content {
    display: flex;
    flex-direction: column;
    & span,
    a {
      display: block;
      color: $vm-color-white;
      text-align: left;
      text-decoration: none;
    }
  }

  &__section {
    &-header {
      font-weight: bold;
      margin: 0.8rem 0;
    }

    &-subheader {
      margin: 0.2rem 0;
      font-size: 12px;
    }
  }
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.email-icon {
  position: absolute;
  top: 6px;
  left: 4px;
}

@media screen and (min-width: $vm-desktop-breakpoint) {
  .footer {
    &-content {
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 2rem;
    }
  }

  .newsletter {
    min-width: 40%;

    &-form {
      flex-direction: row;
      align-items: center;
      justify-items: start;

      & input {
        margin-right: 1rem;
        width: 80%;
      }
    }
  }
}
