@import '../../assets/styles/variables';

.mini-cart__container {
  background-color: $vm-color-white;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-bottom: 3rem;
}

.mini-cart__product-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.mini-cart__product {
  display: flex;
  flex-direction: row;
  align-items: center;

  &-info {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }
}

.mini-cart__delete-icon {
  cursor: pointer;
}
