@import '../../assets/styles/variables';

.splash-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: $vm-desktop-breakpoint) {
  .splash-row {
    flex-direction: row;
  }
}
