@import '../src/assets/styles/variables';

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-width {
  width: 95%;
  margin: 0 auto;
}

@media screen and (min-width: $vm-desktop-breakpoint) {
  .content-width {
    width: 90%;
    max-width: $vm-desktop-max-width;
  }
}
