// COLORS

$vm-color-green: #499c98;
$vm-color-grey: rgba(180, 180, 180, 0.8);
$vm-color-black: black;
$vm-color-white: white;
$vm-color-red: red;
$vm-color-splash-background: rgba(100, 100, 100, 0.5);

// DIMENSIONS

$vm-mobile-breakpoint: 320px;
$vm-desktop-breakpoint: 940px;
$vm-desktop-max-width: 1200px;
